SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/rewards
SPRING_DATASOURCE_USERNAME=rewards
SPRING_DATASOURCE_PASSWORD=rewards
API_KEY=dev-api-key
SERVER_PORT=8080
APP_VERSION=0.0.1
FRONTEND_PORT=3000
FRONTEND_API_BASE_URL=/api
FRONTEND_API_KEY=dev-api-key
